{
    "project_id": "infra-123456",
    "image_name": "reddit-base-{{timestamp}}",
    "image_family": "reddit-base",
    "zone": "europe-west1-b",
    "ssh_username": "appuser",
    "disk_size": "10",
    "disk_type": "pd-standard",
    "tags": "http-server",
    "image_description": "This is my first image :)",
    "network": "default"
}
